[Unit]
Description=RabbitMQ Broker
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull reevoo/coreos-rabbitmq-server:0.0.20
ExecStart=/bin/bash -c 'docker run --rm --name rabbitmq -h %H -e ETCD_HOST=$COREOS_PRIVATE_IPV4 -p 4369:4369 -p 5672:5672 -p 15672:15672 -p 25672:25672 reevoo/coreos-rabbitmq-server:0.0.20'
ExecStop=/usr/bin/docker stop -t 5 rabbitmq
Restart=always
RestartSec=7

[X-Fleet]
X-Conflicts=rabbitmq.*.service
